<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login</title>
</head>
<body>
    <h1>User Login</h1>
    <form method="post" action="/user/login">       
        <lable>Email</lable>
        <input
        type="email"
        name="email",
        placeholder="enter mail"
        >
        <lable>Password</lable>
        <input
        type="text"
        name="password",
        placeholder="password"
        >
        <button type="submit">Signup</button>
    </form>

</body>
</html>